*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-primario: #f8eed6;
  --color-secundario: #090c02;
  --color-tersero: #8b4513;
  --color-cuarto: #913028;
  --color-quinto: #99b189;
  --color-sexyo: #b66e5b;

}

.hderd{
  background-color:var(--color-primario);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12%;
  height: 40px;
}
.logodellocal{

width:55%;
object-fit: scale-down;
border-radius: 10px;
}
.contefull{

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
height: 100vh;
}
.CONTESCANER{
  background-color: rgba(255, 255, 0, 0);
  width: 100%;
  display: flex;
  color: #762cd6;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.qrscanner{
  background-color: rgba(0, 255, 255, 0);
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*pondor de puntos*/
.CONTESCANERdatosfull{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50%;
  text-align: center;
  border-radius: 0px, 0px ,100px ,10px;
}
.datos{
  background-color: rgba(139, 238, 9, 0);
display: flex;
font-size: clamp(1.5rem, 2vw, 1.5rem);
text-align: center;
color: var(--color-secundario);
justify-content: space-around;

}


.CLITTILU{
  font-size: clamp(2rem, 2vw, 1.5rem);
  margin-bottom: 10px;

}


.agrgaragpuntos{
  background-color: rgba(255, 0, 255, 0);
width: 100%;
padding: 10px;
display: flex;
gap: 10px;

}
.inputpuntos{
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  border: solid 2px var(--color-cuarto);
  box-shadow: -2px 7px 10px var(--color-primario);
}
.btnagrgar{
  background: var(--color-primario);
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  
  transition: box-shadow 0.2s ease;
  user-select: none; 
}
.premios{
  background-color: var(--color-quinto);
  border-radius: 50px 50px 0px 0px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  color: var(--color-primario);
  font-size: clamp(1.55rem, 2vw, 1.5rem);
}
.premioslist{
  background-color: var(--color-quinto);
  width: 100%;
  display: flex;
  overflow: hidden;
overflow-x: auto;
  gap: 20px;
  padding: 10px;
  height: auto;
  color: var(--color-primario);
}
.ptmio{
  background-color: var(--color-secundario);
  width: 100%;
  color: var(--color-primario);
  display: flex;
  min-width: 250px;
  max-width: 300px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
   font-size: clamp(1.5rem, 2vw, 1.5rem);
border-radius: 10px;
height: 162px;
text-align: center;
  }

  .btncanjear{
  background: var(--color-secundario);
  border: 2px solid #999;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  box-shadow:
    inset 3px 3px 5px var(--color-secundario),   /* sombra clara arriba izquierda */
    inset -3px -3px 5px var(--color-primario); /* sombra oscura abajo derecha */
  transition: box-shadow 0.2s ease;
  user-select: none; 
margin-top: 550px;
}
.btscaneartor{
background-color: var(--color-terseros);
  border: none;
margin-top: 15px;
font-size: clamp(1.3rem, 2vw, 1.5rem);
color: var(--color-sexyo);
cursor: pointer;
}
.tulodescnar{
 
  color: var(--color-secundario);
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  margin-bottom: 10px;
}
.instruciones{
  width: 100%;
  padding: 20px;
}
.instrucionef{
  color: #000;
  width: 100%;
}